<h1>Drivetrain</h1>
<div class="row">
	<form name="drivetrain" novalidate>
		<ol class="col-lg-4">
			<li>
				Does your robot have a drivetrain?
				<div class="radio">
					<label>
						<input type="radio" ng-model="wiz.hasDrivetrain" value="yes">
						Yes, it has wheels!
					</label>
				</div>
				<div class="radio">
					<label>
						<input type="radio" ng-model="wiz.hasDrivetrain" value="no" required>
						No, its stationary.
					</label>
				</div>
			</li>
			<li ng-show="wiz.hasDrivetrain == 'no'">
				<!-- No -->
				<a class="btn btn-primary" href ng-click="wiz.next()">Next &raquo;</a>
			</li>
			<li ng-show="wiz.hasDrivetrain == 'yes'">
				<!-- Yes -->
				How many motors does it use?
				<div class="radio">
					<label>
						<input type="radio" ng-model="wiz.numMotors" value="2" required>
						2 motors
					</label>
				</div>
				<div class="radio">
					<label>
						<input type="radio" ng-model="wiz.numMotors" value="4">
						4 motors (also for 6 or 8 wheel drive)
					</label>
				</div>
				<!-- <div class="radio">
					<label>
						<input type="radio" ng-model="wiz.numMotors" value="6">
						6 motors
					</label>
				</div>
				<div class="radio">
					<label>
						<input type="radio" ng-model="wiz.numMotors" value="8">
						8 motors
					</label>
				</div> -->
			</li>
			<li ng-show="wiz.numMotors && wiz.hasDrivetrain == 'yes'">
				What type of motor controllers will be used?
				<div class="form-group" >
					<select ng-model="wiz.speedController" class="form-control form-control-inline">
						<option value="victor">Victor</option>
						<option value="talon">Talon</option>
						<option value="jaguar">Jaguar (Not Recommended)</option>
						<option value="talonsrx">Talon SRX</option>
						<option value="victorsp">Victor SP</option>
					</select>

				</div>
			</li>
			<li ng-show="wiz.speedController && wiz.hasDrivetrain == 'yes'">
				What type of driving will you be doing?
				<div class="radio">
					<label>
						<input type="radio" ng-model="wiz.driveType" value="arcade">
						arcade drive (most people use this)
					</label>
				</div>
				<div class="radio">
					<label>
						<input type="radio" ng-model="wiz.driveType" value="tank">
						tank drive
					</label>
				</div>
				<div class="radio" ng-show="wiz.numMotors == 4 || wiz.numMotors == 8"> <!-- this might be a dumb assumption -->
					<label>
						<input type="radio" ng-model="wiz.driveType" value="mecanum">
						mecanum drive
					</label>
				</div>
			</li>
			<li ng-show="wiz.driveType && wiz.hasDrivetrain == 'yes'">
				Port Asiginment
				<div class="form-group" ng-repeat="(idx, cname) in wiz.getControllers()">
					<input required class="form-control form-control-inline" type="text" value="{{cname}}">
					<select required class="pa form-control form-control-inline" ng-model="wiz.controllers[cname]">
						<option value="">Choose a port</option>
						<option 
							value="{{$index}}" 
							ng-repeat="n in [] | range:0:wiz.brain.numPWM"
							ng-disabled="wiz.isPADisabled($index)"
						>{{$index}} {{wiz.isPADisabled($index)? 'used' : ''}}</option>
					</select>
				</div>
			</li>
			<li ng-show="drivetrain.$valid && wiz.hasDrivetrain == 'yes'">
				<!-- Done -->
				<a class="btn btn-primary" href ng-click="wiz.next()">Next &raquo;</a>
			</li>
		</ol>
	</form>
</div>